.container{
    margin: 50px 0;
    flex-wrap: nowrap !important;
}

.card{
    margin: 5px 2% !important;
}

.infected{
    border-bottom: 10px solid rgb(0, 195, 255);
}

.recovered{
    border-bottom: 10px solid rgb(106, 224, 106);
}

.deaths{
    border-bottom: 10px solid rgb(255, 77, 77);
}

@media (max-width: 770px){
    .card{
        margin: 2.5% 5% !important;
    }
}